*{
    padding: 0;
    margin: 0px
}

baby{
    background-color: #dcdcdc;

}
.principal{
    width: 95%;
    height: auto;
    margin: auto;
    padding: 15px;
    box-shadow: 2px 4px rgba(red, green, blue, alpha);
    background-color: #ffffff;
    
 
}